body {
  margin: 0;
  background-color: rgb(25, 18, 68);
}
.header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  padding-right: 10px;
  color: white;
}

.login {
  display: flex;
  width: calc(5vw + 15vh);
  max-width: 150px;
  justify-content: space-between;
}
.file-options {
  display: grid;
  background-color: black;
  position: absolute;
  top: 100%;
  border: 1px solid white;
}
